<!DOCTYPE html>
<html ng-app="Chad">
  <head>
    <meta charset="UTF-8">
    <title>Chad</title>
    <link rel="stylesheet" href="./css/photon.min.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body ng-controller="AppController">
    <div class="window">
      <div class="window-content">
        <div class="pane-group">
          <div class="pane pane-sm sidebar">
            <nav class="nav-group">
              <h5 class="nav-group-title">{{local.menu}}</h5>
              <a class="nav-group-item">
                <span class="icon icon-book-open"></span>
                {{local.menu_posts}}
              </a>
              <a class="nav-group-item">
                <span class="icon icon-pencil"></span>
                {{local.menu_drafts}}
              </a>
              <a class="nav-group-item" ng-click="OpenDialog('preferencesDialog')">
                <span class="icon icon-cog"></span>
                {{local.menu_preferences}}
              </a>
              <a class="nav-group-item">
                <span class="icon icon-info-circled"></span>
                {{local.menu_about}}
              </a>
            </nav>

            <ul class="list-group">
              <li class="list-group-header">
                <h5 class="nav-group-title channels-title">{{local.channels}}</h5>
                <div class="btn-group pull-right">
                  <button class="btn btn-mini btn-default" ng-class="{active: multiple}" ng-click="toggleMultiple()">
                    {{local.channels_multiple}}
                  </button>
                  <button class="btn btn-mini btn-default" ng-click="OpenDialog('addChannelDialog')">
                    <span class="icon icon-plus"></span>
                  </button>
                </div>
              </li>
              <li 
                class="list-group-item"
                ng-class="{'checkbox': multiple, 'radio': !multiple}"
                ng-repeat="channel in channels track by channel.uid" 
                ng-mouseover="hover=true" 
                ng-mouseleave="hover=false"
                ng-init="hover=false">
                <label>
                  <input 
                    type="{{multiple ? 'checkbox' : 'radio'}}" 
                    name="broadcasting" 
                    ng-click="toggleSelection(channel.uid)"
                    ng-init="selected[channel.uid]=false"
                    ng-checked="selected[channel.uid]">
                  {{channel.name}}
                </label>
                
                <button ng-if="hover" class="btn btn-default borderless btn-mini pull-right" ng-click="RemoveChannel(channel.uid)">
                  <span class="icon icon-minus"></span>
                </button>
              </li>
            </ul>

            <nav class="nav-group bot-info">
              <h5 class="nav-group-title">{{local.bot}}</h5>
              <button ng-if="!adminbot.token" class="btn btn-default btn-mini add-bot" ng-click="OpenDialog('setBotDialog')">
                {{local.bot_set}}
              </button>
              <button ng-if="adminbot.token" class="btn btn-default btn-mini pull-right bot-change borderless" ng-click="OpenDialog('changeBotDialog')">
                <span class="icon icon-pencil bot-change-icon"></span>
              </button>
              <br>
              <div ng-if="adminbot.token" class="nav-group-item bot-profile">
                <a href="#">
                  <div class="avatar-overlay" ng-click="UpdateBotProfilePhoto()"></div>
                  <img ng-src="{{botavatar}}" class="bot-avatar"/>
                </a>
                <p class="bot-name">{{adminbot.first_name}}</p>
                <p class="bot-username">@{{adminbot.username}}</p>
              </div>
              
            </nav>
          </div>

          <div class="pane content">
            <div class="half-top">
              <div class="control-group">
                <h5 class="pull-left" style="margin: 0">{{local.controls_formatting_styles}}:&nbsp;</h5> 
                <div class="btn-group">
                  <button class="btn btn-default" ng-class="{active: (parser == 'HTML')}" ng-click="selectParser('HTML');updatePreview()">
                    {{local.controls_html}}
                  </button>
                  <button class="btn btn-default" ng-class="{active: (parser == 'markdown')}" ng-click="selectParser('markdown');updatePreview()">
                    {{local.controls_markdown}}
                  </button>
                </div>
                <div class="pull-right">
                  <button class="btn btn-default" ng-click="insertLink()">
                    {{local.controls_link}}
                  </button>
                  <button class="btn btn-default" ng-click="insertBold()">
                    <b>{{local.controls_bold}}</b>
                  </button>
                  <button class="btn btn-default" ng-click="insertItalic()">
                    <i>{{local.controls_italic}}</i>
                  </button>
                </div>
              </div>
              <textarea ng-change="updatePreview()" ng-model="post_text" ng-init="post_text=''" id="post_text" class="form-control post-area" rows="10"></textarea>
            </div>
            <div class="half-bottom">
              <h4 class="preview-title">{{local.preview}}:</h4>
              <div class="preview-overflow">
                <pre id="preview" class="preview"></pre>
              </div>
              <div class="options-group">
                <div class="pull-left send-options">
                  <div class="checkbox send-checkbox">
                    <label>
                      <input type="checkbox" ng-model="disablePreview" ng-init="disablePreview=false"> {{local.preview_disable_link_preview}}
                    </label>
                  </div>
                  <div class="checkbox send-checkbox">
                    <label>
                      <input type="checkbox" ng-model="disableNotification" ng-init="disableNotification=false"> {{local.preview_disable_notification}}
                    </label>
                  </div>
                </div>
                <button class="btn btn-large pull-right send-button" ng-class="{'btn-default': !channelSelected || (post_text.length == 0), 'btn-primary': channelSelected || (post_text.length > 0)}" ng-disabled="!channelSelected || (post_text.length == 0)" ng-click="sendPost()">{{sending?local.preview_wait:local.preview_send}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="overlay" id="overlay" style="display: none"></div>

    <div class="window dialog" style="display: none" id="addChannelDialog">
      <header class="toolbar toolbar-header">
        <h1 class="title">{{local.d_add_channel}}</h1>
      </header>

      <div class="window-content">
        <form>
          <div class="form-group">
            <label>{{local.d_add_channel_name}}:</label>
            <input type="text" class="form-control" ng-model="inputChannelName" placeholder="{{local.d_add_channel_name_placeholder}}">
          </div>
          <div class="form-group">
            <label>{{local.d_add_channel_username}}:</label>
            <input type="text" class="form-control" ng-model="inputChannelUsername" placeholder="@mychannel">
          </div>
        </form>
      </div>

      <footer class="toolbar toolbar-footer">
        <div class="toolbar-actions">
          <button class="btn btn-default" ng-click="CloseDialog('addChannelDialog')">
            {{local.d_add_channel_cancel}}
          </button>
          <button class="btn btn-primary pull-right" ng-click="SaveChannel()">
            {{local.d_add_channel_save}}
          </button>
        </div>
      </footer>
    </div>

    <div class="window dialog" style="display: none; height: 140px" id="setBotDialog">
      <header class="toolbar toolbar-header">
        <h1 class="title">{{local.d_set_admin_bot}}</h1>
      </header>

      <div class="window-content">
        <form>
          <div class="form-group">
            <label>{{local.d_set_admin_bot_token}}:</label>
            <input type="text" class="form-control" ng-model="inputBotToken" placeholder="123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11">
          </div>
        </form>
      </div>

      <footer class="toolbar toolbar-footer">
        <div class="toolbar-actions">
          <button class="btn btn-default" ng-click="CloseDialog('setBotDialog')">
            {{local.d_set_admin_bot_cancel}}
          </button>
          <button class="btn btn-primary pull-right" ng-click="SaveAdminBot(inputBotToken)">
            {{local.d_set_admin_bot_save}}
          </button>
        </div>
      </footer>
    </div>

    <div class="window dialog" style="display: none; height: 140px" id="changeBotDialog">
      <header class="toolbar toolbar-header">
        <h1 class="title">{{local.d_change_admin_bot}}</h1>
      </header>

      <div class="window-content">
        <form>
          <div class="form-group">
            <label>{{local.d_change_admin_bot_token}}:</label>
            <input type="text" class="form-control" ng-model="changeBotToken" placeholder="123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11">
          </div>
        </form>
      </div>

      <footer class="toolbar toolbar-footer">
        <div class="toolbar-actions">
          <button class="btn btn-default" ng-click="CloseDialog('changeBotDialog')">
            {{local.d_change_admin_bot_cancel}}
          </button>
          <button class="btn btn-primary pull-right" ng-click="SaveAdminBot(changeBotToken)">
            {{local.d_change_admin_bot_save}}
          </button>
        </div>
      </footer>
    </div>

    <div class="window dialog" style="display: none; height: 210px" id="insertLinkDialog">
      <header class="toolbar toolbar-header">
        <h1 class="title">{{local.d_insert_link}}</h1>
      </header>

      <div class="window-content">
        <form>
          <div class="form-group">
            <label>{{local.d_insert_link_title}}:</label>
            <input type="text" class="form-control" ng-model="insertLinkTitle" placeholder="title">
          </div>
          <div class="form-group">
            <label>{{local.d_insert_link_url}}:</label>
            <input type="text" class="form-control" ng-model="insertLinkURL" placeholder="URL">
          </div>
        </form>
      </div>

      <footer class="toolbar toolbar-footer">
        <div class="toolbar-actions">
          <button class="btn btn-default" ng-click="CloseDialog('insertLinkDialog')">
            {{local.d_insert_link_cancel}}
          </button>
          <button class="btn btn-primary pull-right" ng-click="insertLinkInText()">
            {{local.d_insert_link_save}}
          </button>
        </div>
      </footer>
    </div>

    <div class="window dialog" style="display: none; height: 130px" id="preferencesDialog">
      <header class="toolbar toolbar-header">
        <h1 class="title">{{local.d_preferences}}</h1>
      </header>

      <div class="window-content">
        <form>
          <div class="form-group">
            <label>{{local.d_preferences_language}}</label>
            <select class="form-control" ng-model="settings.lang">
              <option value="en">English</option>
              <option value="ru">Русский</option>
            </select>
          </div>
        </form>
      </div>

      <footer class="toolbar toolbar-footer">
        <div class="toolbar-actions">
          <button class="btn btn-default" ng-click="CloseDialog('preferencesDialog')">
            {{local.d_preferences_cancel}}
          </button>
          <button class="btn btn-primary pull-right" ng-click="saveSettings()">
            {{local.d_preferences_save}}
          </button>
        </div>
      </footer>
    </div>
    
    <script>
      const $ = require('jquery');
      require('angular');
      
      require('./renderer.js');
    </script>
  </body>
</html>
