	/*
  	Flaticon icon font: Flaticon
  	Creation date: 30/07/2016 13:17
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="icon-"]:before, [class*=" icon-"]:before,
[class^="icon-"]:after, [class*=" icon-"]:after {   
  font-family: Flaticon !important;
  font-size: 20px;
  font-style: normal;
}

.icon-apple:before { content: "\f100"; }
.icon-linux:before { content: "\f101"; }
.icon-source-code:before { content: "\f102"; }
.icon-windows:before { content: "\f103"; }